@import url("https://fonts.googleapis.com/css2?family=Sarabun");
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Sarabun, sans-serif;
  font-size: 16px;
  color: #7f7f7f;
  font-weight: 400;
  line-height: 1.5;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: #242424;
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}
p {
  color: #7f7f7f;
  line-height: 1.7;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}
.navbar {
  z-index: 1030;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: all 0.5s;
  position: fixed;
  right: 0;
  left: 0;
  transition: all .5s;
}
.nav-scroll {
  background-color: #4d19a2;
  border-bottom: 1px solid #4b199c;
  box-shadow: 0 2px 25px #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .container {
  display: flex;
  align-items: center;
}
.navbar-collapse {
  display: flex;
  flex-grow: 1;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: auto;
  flex-basis: auto;
  margin-bottom: 0;
}
.nav-link {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  margin: 0 20px;
  position: relative;
  display: block;
  padding-top: 0.5em;
}
/* .nav-link:before {
  content: "";
  position: absolute;
  background-color: #567df4;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
} */
.demo-side-icon {
  position: fixed;
  right: -1px;
  top: 30%;
  z-index: 9999;
}
.demo-side-icon .modal-button {
  border: none;
  padding: 0;
  border-radius: 5px 0 0 5px;
}
.modal-button span {
  border: none;
  padding: 0;
  border-radius: 5px 0 0 5px;
  display: block;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #fff;
  background-color: #301d44;
  padding: 10px 7px;
}
.home-area {
  background-image: url(../images/home-background.png);
  background-size: cover;
  background-position: 50%;
  padding-top: 180px;
  padding-bottom: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.align-center {
  align-items: center !important;
}
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.personal-banner-img {
  position: relative;
}
.shape-1 {
  position: absolute;
  top: 0;
  left: -60px;
  animation: animationFramesOne 20s linear infinite;
}
.shape-2 {
  position: absolute;
  bottom: 50px;
  left: -80px;
  animation: animationFramesOne 20s linear infinite;
}
.shape-3 {
  position: absolute;
  bottom: -35px;
  right: -55px;
  z-index: -1;
  animation: moveLeftBounce 3s linear infinite;
}
.personal-banner-text {
  position: relative;
}
.personal-banner-text span {
  font-size: 28px;
  color: #ffba00;
  display: inline-block;
  margin-bottom: 10px;
}
.personal-banner-text h1 {
  font-size: 70px;
  color: #fff;
  margin-bottom: 15px;
  line-height: 1;
}
.personal-banner-text h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.personal-banner-text p {
  color: #e6dff9;
  font-size: 20px;
}
.personal-button {
  margin-top: 35px;
}
.default-button {
  padding: 15px 40px;
  border-radius: 30px;
  display: inline-block;
  border: 1px solid #fff;
}
.download-cv {
  background-color: #ffba00;
  border: 1px solid #ffba00;
  color: #fff;
  margin-right: 1rem;
}
.hire-me {
  color: #fff;
}
.shape-4 {
  position: absolute;
  bottom: 25px;
  right: -90px;
  animation: moveLeftBounce 3s linear infinite;
}
.shape-5 {
  position: absolute;
  top: -130px;
  right: 0;
  animation: animationFramesOne 20s linear infinite;
}
.shape-6 {
  position: absolute;
  top: -40px;
  right: -100px;
  animation: moveLeftBounce 3s linear infinite;
}
.shape-7 {
  position: absolute;
  top: -130px;
  left: 20px;
  animation-name: rotateme;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animationFramesOne {
  0% {
    transform: translate(0) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}
@keyframes moveLeftBounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotateme {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.information-area {
  padding-top: 100px;
}
.section-title {
  text-align: center;
  max-width: 660px;
  margin: 0 auto 60px;
}
.section-title p {
  max-width: 525px;
  margin: auto;
}
.section-title h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.info-card {
  text-align: center;
  margin-bottom: 30px;
}
.info-card i {
  color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 5px;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
}
.info-card i.bg-1 {
  background-color: #567df4;
  box-shadow: 0 6px 20px #96abec;
}
.info-card h3 a {
  font-size: 24px;
  color: #242424;
}
.info-card p {
  margin-bottom: 0;
}
.info-card i.bg-2 {
  background-color: #ffba00;
  box-shadow: 0 6px 20px #ffd86e;
}
.info-card i.bg-3 {
  background-color: #ff784f;
  box-shadow: 0 6px 20px #ffb29b;
}
.info-card i.bg-4 {
  background-color: #661ae1;
  box-shadow: 0 6px 20px #ad83f1;
}